@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green : #327039;
  --gray1 : #E9ECEF;
  --gray2 : #b1b8c2;
  --blacky : #1a1a1a;
}

body {
  color: var(--gray1);
  background: var(--green);
  font-family: Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */